/* CSS */
.navigations {
    transition: color 0.5s ease;
    cursor: pointer;
  }
/* .navigations:hover{} */
  

.aboutusbg{
  background-image: url('../../assets/images/AboutBG.jpg');
  background-position: center;
}


#about-title{
  transition: all ease-in 500;
}